@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root {
    --primary-color: #9e4301;
    --secundary-color: #331805;
    --highlighted-font: "Press Start 2P", system-ui;
    --main-font: "Raleway", sans-serif;
}
body {
    font-family: var(--main-font);
    color: var(--secundary-color);
    width: 100vw;
    height: 100vh;
    overflow-X: hidden;
}

/* Interface de Interação*/
.interface {
    display: flex;
    width: 100%;
    min-height: 100vh;
}

/* Cabeçalho */
header{
    display: flex;
    flex-direction: column;
    padding: 3% 5% 0;
    position: fixed;
    width: 30%;
    /* backdrop-filter: blur(5px); */
}

header::before,
.nav-items::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    z-index: -1;
}

.container-logo{
    display: flex;
    justify-content: start;
    flex: 20%;
    width: 100%;
}
.container-logo img{
    margin-left: 0;
    width: auto;
    max-height: 80px;
    object-fit: contain;
}
.nav-list{
    flex: 80%;
}
.btn-menu{
    display: flex;
    align-items: end;
    justify-content: end;
    width: 100%;
}
.nav-items{
    flex-direction: column;
    font-family: var(--highlighted-font);
    list-style-type: none;
    text-align: left;
    z-index: 100;
}

.nav-items li{ padding: 10px 50px; }

.nav-items li a{
    display: block;
    color: var(--secundary-color);
    text-decoration: none;
    padding: 16px 5%;
    font-size: 15px;
    text-indent: 20px;
    transition: all .3s ease-in-out;
}

.nav-items li a:hover{
    transform: scale(110%);
    color: var(--primary-color);
}

.nav-items li a::before{
    display: none;
    content: "*";
    padding-right: 5%;
}
.nav-items li a:hover::before{ display: inline; }

.nav-items .links-sociais{
    display: none;
}

.links-sociais{
    display: flex;
    justify-content: flex-end;
    text-decoration: none;
    padding: 2px;
    padding-right: 10%;
    gap: 5px;
    cursor: pointer;
    padding-right: 5%;   
}
.links-sociais ion-icon{
    font-size: 43px;
    padding: 10px;
    color: var(--secundary-color);
    transition: all .3s ease-in-out;
}
.links-sociais ion-icon:hover{
    transform: scale(110%);
    color: var(--primary-color);
}


.abrir-menu{
    display: none;
    justify-content: center;
    align-items: center;
    color: var(--secundary-color); 
    font-size: 5vw;
    padding-right: 10%;
    transition: all .3s ease-in-out;
}
.abrir-menu:hover{
    color: var(--primary-color);
    transform: scale(110%);
}

/* Animação */
@keyframes animar-pagina { 50% { transform: translateX(-100vw); } }

/* Seção Principal */
section{
    background: url(../Imagens/pergaminho3.jpg) no-repeat center / cover;
    width: 100%;
    height: 100vh;
    padding: 3% 5%;
}
/* ---------------------------- Seção do Aventureiro ---------------------------- */

.section-aventureiro{
    display: grid;
    grid-template-columns: 70% 1fr;
    grid-template-rows: 80% 1fr;
}
.img-perfil{
    display: flex;
    margin-left: 20vw;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}
.status-perfil, #texto-perfil {
    justify-self: center;
    align-self: center;
}
.status-perfil{
    display: flex;
    flex-direction: column;
    padding-left: 10px;
    font-family: var(--highlighted-font);
    color: var(--primary-color);
}

.status-perfil h1, h2{ text-align: center; }
.status-perfil h1, h3{ font-size: 17px;}

.status-perfil h1{
    letter-spacing: 2px;
    line-height: 30px;
    padding: 20px 0;
} 
.status-perfil h2{
    font-size: 15px;
    word-spacing: 15px;
    padding-bottom: 2rem;
}
.status-perfil h2::after{
    content: '-----------------';
    display: block;
    margin-top: 20px;
}
.status-perfil h3{ 
    align-self: flex-start; 
    padding-bottom: 15px;
}

.status-perfil h3 span, #texto-perfil{ font-size: 18px; }
.status-perfil h3 span, .links-sociais ion-icon, #texto-perfil { font-weight: 500; }

.status-perfil h3 span{ 
    font-family: var(--main-font); 
    color: var(--secundary-color);
}
#texto-perfil{
    grid-column: 1 / -1;
    text-align: center;
    padding-left: 30px;
}